.sdlc-container.position-relative
  .sdlc-description
    %h2 イノベーションを加速
    %p DevOpsに必要なプロジェクトの計画、ソース管理、セキュリティテスト、CI/CD、監視までのツールチェインをシンプルにできます。GitLabは1つのアプリケーションでDevOpsライフサイクル全体をカバーします。
    %a.btn.cta-btn.purple{ href: '/comparison' } 他のツールとの比較
  %img.sdlc-image{ src: "/images/home/sdl-single-application.png" }
  .table-container
    %p.table-label.single-application-label シンプル
    %p.table-label.separate-application-label 複雑

    %table.sdlc-table
      %tr
        - data.sdlc.each do |phase|
          %td.phase-container
            = partial "/includes/icons/sdlc-icons/#{phase.phase.downcase}.svg"
            %p #{phase.title}

      %tr.single-application-row
        - data.sdlc.each do |phase|
          %td.solutions-container
            %img.gitlab-logo{ src: "/images/comparison/gitlab-logo.svg" }
            - phase.solutions.each do |solution|
              %p #{solution}

      %tr.separate-application-row
        - data.sdlc.each do |phase|
          %td.logo-container
            - phase.competitor.each do |competitor|
              %img.competitor-logo{ src: "#{competitor.logo}", alt: "#{competitor.name} logo png" }
