---
trial_bar: true
title: 効率性
extra_css:
  - features-v2.css
  - release-posts.css
---

= partial "includes/solutions/solution-page", locals: { solution: data.solutions.solutions.efficiency, solution_name: "efficiency" }
