---
title: インストール方法
description: GitLabを様々な環境にインストールする方法を説明します。Omnibus packageを使用すると、GitLabをとても簡単にインストールすることができます。
extra_css:
  - installation.css
extra_js:
  - installation.js
  - libs/clipboard.min.js
  - bootstrap-tooltip.js
  - copy-button.js
---
.wrapper
  .simple-header
    %h1
      インストール方法
  #content
    .wrapper.container{role: "main"}
      .method
        .method-content
          %h2.block-title Community EditionとEnterprise Edition
          %ul
            %li
              %p.text-center
                ライセンスがないGitLab Enterprise Editionをインストールして使用することと、Community Editionをインストールして使用することに表面的な違いはありませんが、Enterprise Editionには有利な点があります。
                詳しくは
                %a{:tile => '', :href => '/installation/ce-or-ee'}こちら
                を参照ください。
        .method-content
          %h2.block-title 必要スペック
          %ul
            %li
              %p.text-center
                GitLabを実行するマシンの推奨スペックは、メモリが4GB以上です。利用ユーザー数に対するスペックの参考値については、
                %a{:tile => '', :href => 'https://docs.gitlab.com/ee/install/requirements.html#cpu', target: '_blank'}公式サイトの情報(英語)
                を参照ください。

      .method.omnibus
        - distros = ['Ubuntu', 'Debian', 'CentOS 6', 'CentOS 7', 'OpenSUSE 42.2, 42.3', 'Raspberry Pi 2']
        - platforms = ['ubuntu', 'debian', 'centos6', 'centos7', 'opensuse', 'raspberrypi2']
        - ce_only_platforms = { 'raspberry-pi-2' => true }
        - subtitles = ['14.04 LTS, 16.04 LTS, 18.04 LTS', '7, 8, 9', 'RHEL, Oracle, Scientific', 'RHEL, Oracle, Scientific', 'SUSE Linux Enterprise Server', 'Raspbian Wheezy, Jessie']
        - icons = ['ubuntu', 'debian', 'centos', 'centos', 'opensuse', 'raspberry-pi']
        .method-content
          %h2.block-title{id: "#omnibus"} Omnibus packageでのインストール方法
          %ul.flex-tile-list
            - distros.each_with_index do |distro, index|
              - ce_platform = data.platforms.select {|p| p.name == platforms[index]}
              - ee_platform = data.platforms_ee.select {|p| p.name == platforms[index]}
              %li.distro-tile{ class: "distro-tile-#{index + 1} #{'js-distro-tile-ce-only' if ce_only_platforms[distro.parameterize]}" }
                %a.js-distro-tile{ href: "##{distro.parameterize}" }
                  .tile-image
                    = partial "/images/logos/#{icons[index]}-logo.svg"
                  %span.tile-title
                    = distro
                  %br
                  %span.light
                    = subtitles[index]
              %li.distro-content.js-distro-content.hidden{ class: "distro-content-#{index + 1}", id: distro.parameterize }
                - ce_platform.each_with_index do |platform, index|
                  - ee_platform = ee_platform[index]
                  .js-platform-ce.js-install-instructions
                    = partial "_platform", locals: { platform: platform, type: "ce", toggle_type: "ee", has_ee: ee_platform, link_back: distro.parameterize }
                  - if ee_platform
                    .js-platform-ee.js-install-instructions.hidden
                      = partial "_platform", locals: { platform: ee_platform, type: "ee", toggle_type: "ce", has_ee: ee_platform, link_back: distro.parameterize }
