- is_dark = locals.fetch(:is_dark, false)
- is_available_for_core = tier_hash[:gitlab_core]
- is_available_for_starter = tier_hash[:gitlab_starter]
- is_available_for_premium = tier_hash[:gitlab_premium]
- is_available_for_ultimate = tier_hash[:gitlab_ultimate]
- is_available_for_gitlab_free = tier_hash[:gitlab_free] || (gitlab_com != false && is_available_for_core)
- is_available_for_gitlab_bronze = tier_hash[:gitlab_bronze] || (gitlab_com != false && is_available_for_starter)
- is_available_for_gitlab_silver = tier_hash[:gitlab_silver] || (gitlab_com != false && is_available_for_premium)
- is_available_for_gitlab_gold = tier_hash[:gitlab_gold] || (gitlab_com != false && is_available_for_ultimate)
- core_title = is_available_for_core ? "GitLab Coreで利用できます" : "GitLab Coreで利用できません"
- starter_title = is_available_for_starter ? "GitLab Starterで利用できます" : "GitLab Starterで利用できません"
- premium_title = is_available_for_premium ? "GitLab Premiumで利用できます" : "GitLab Premiumで利用できません"
- ultimate_title = is_available_for_ultimate ? "GitLab Ultimateで利用できます" : "GitLab Ultimateで利用できません"
- free_title = is_available_for_gitlab_free ? "GitLab.com Freeで利用できます" : "GitLab.com Freeで利用できます"
- bronze_title = is_available_for_gitlab_bronze ? "GitLab.com Bronzeで利用できます" : "GitLab.com Bronzeで利用できません"
- silver_title = is_available_for_gitlab_silver ? "GitLab.com Silverで利用できます" : "GitLab.com Silverで利用できません"
- gold_title = is_available_for_gitlab_gold ? "GitLab.com Goldで利用できます" : "GitLab.com Goldで利用できません"

.badge-container{ class: "#{'dark' if is_dark}" }
  .top-row
    %span{ "title" => core_title, "data-toggle" => "tooltip", "data-placement" => "top"}
      .badge{class: "#{'available' if is_available_for_core}"}<
        CORE
    %span{ "title" => starter_title, "data-toggle" => "tooltip", "data-placement" => "top"}
      .badge{class: "#{'available' if is_available_for_starter}"}<
        STARTER
    %span{ "title" => premium_title, "data-toggle" => "tooltip", "data-placement" => "top"}
      .badge{class: "#{'available' if is_available_for_premium}"}<
        PREMIUM
    %span{ "title" => ultimate_title, "data-toggle" => "tooltip", "data-placement" => "top"}
      .badge{class: "#{'available' if is_available_for_ultimate}"}<
        ULTIMATE
  .bottom-row
    %span{ "title" => free_title, "data-toggle" => "tooltip", "data-placement" => "top"}
      .badge{class: "#{'available' if is_available_for_gitlab_free}"}<
        FREE
    %span{ "title" => bronze_title, "data-toggle" => "tooltip", "data-placement" => "top"}
      .badge{class: "#{'available' if is_available_for_gitlab_bronze}"}<
        BRONZE
    %span{ "title" => silver_title, "data-toggle" => "tooltip", "data-placement" => "top"}
      .badge{class: "#{'available' if is_available_for_gitlab_silver}"}<
        SILVER
    %span{ "title" => gold_title, "data-toggle" => "tooltip", "data-placement" => "top"}
      .badge{class: "#{'available' if is_available_for_gitlab_gold}"}<
        GOLD
