.sticky-banner.js-sticky-banner.active#sticky-banner
  .sticky-banner-content
    .sticky-banner-text
      %p.header-text
        無料で30日間、
        %a{ href: "/pricing#self-hosted" }GitLab Ultimate
        を試用できます。
      %p.subheader-text
        クレジットカードの登録は不要です。ご質問は
        %a.contact-us{href: "https://www.creationline.com/gitlab", target: '_blank'} GitLab正規販売代理店
        にお問い合せください。
  %img.dismiss-trial#dismiss-trial{src: "/images/icons/x.svg"}
:javascript
  (function() {
    var trialDismissed = false
    document.getElementById("dismiss-trial").addEventListener("click", dismissTrial)
    function dismissTrial() {
      document.getElementById('sticky-banner').style.display = "none";
    }
  })();
