/ CTA
- if datafile.cta != nil
  %p.cta.text-center
    - datafile.cta.each_with_index do |cta, i|
      - if cta.link != nil
        = link_to(cta.title, "#{cta.link}", class: "btn btn-red webcast-button", target: "_blank")

/ MVP
%section#mvp.mvp.gray-section
  - datafile.mvp do |mvp|
    .release-post-section
      %img{:src => "/images/mvp_badge.png", :alt => "GitLab MVP badge"}/
      %h2{:id => "mvp"}
        %a.header-link{href: "#mvp"}
          %i.fas.fa-link
        今月の
        %a{href: "https://about.gitlab.com/community/mvp/", target: "_blank"}> MVP
        には
        = link_to(mvp.fullname, "https://gitlab.com/#{mvp.gitlab}", target: "_blank")
        さんが選ばれました
      = kramdown(mvp.description)
      - unless mvp.image.blank?
        %img{src: mvp.image, alt: "Gift for the MVP for this month", class: "mvp-gift"}

/ top feature
%section#top-feature.release-post-section
  .release-post-section.text-center
    %h2{:id => "key-features-released", :class => "features-released"}
      %a.header-link{href: "#key-features"}
        %i.fas.fa-link
      = "GitLab #{current_article.data.release_number}での主要機能"
  - datafile.features.top.each do |top_feature|
    - feature_name_href = top_feature.name_en.downcase.tr(" ", "-").squeeze('-').gsub(/[^a-z0-9-]/, '')
    %h2{:id => "#{feature_name_href}"}
      %a.header-link{href: "##{feature_name_href}"}
        %i.fas.fa-link
      = top_feature.name
    = partial "includes/features/badges", locals: { tier_hash: available_in_array_to_tier_hash(top_feature.available_in), gitlab_com: top_feature.gitlab_com, is_dark: true }
    = kramdown(top_feature.description)
    .column
      - if top_feature.video
        %figure.video_container
          %iframe{:src => "#{top_feature.video}", :frameborder => "0", :allowfullscreen => "true"}
      - else
        - if top_feature.image_url
          - if top_feature.image_noshadow == true
            %img{:src => "#{top_feature.image_url}", :alt => "#{top_feature.name}"}/
          - else
            %img{class: "shadow", :src => "#{top_feature.image_url}", :alt => "#{top_feature.name}"}/
    .row.reference-buttons
      .col-md-12.col-sm-12
        %a{ class: "btn btn-default btn-sm product-icon", :href => "#{top_feature.documentation_link}", :target => "_blank"}
          = partial "includes/icons/product-icons/docs.svg"
          ドキュメント
        - if top_feature.issue_url != nil
          %a{ class: "btn btn-default btn-sm product-icon", :href => "#{top_feature.issue_url}", :target => "_blank"}
            = partial "includes/icons/product-icons/issues.svg"
            課題
        - if top_feature.issueboard_url != nil
          %a{ class: "btn btn-default btn-sm product-icon", :href => "#{top_feature.issue_url}", :target => "_blank"}
            = partial "includes/icons/product-icons/issue-boards.svg"
            課題ボード
        - if top_feature.epic_url != nil
          %a{ class: "btn btn-default btn-sm product-icon", :href => "#{top_feature.epic_url}", :target => "_blank"}
            = partial "includes/icons/product-icons/epics.svg"
            エピック
        - if top_feature.mr_url != nil
          %a{ class: "btn btn-default btn-sm product-icon", :href => "#{top_feature.mr_url}", :target => "_blank"}
            = partial "includes/icons/product-icons/merge-requests.svg"
            マージリクエスト
        - if top_feature.webpage_url != nil
          %a{ class: "btn btn-default btn-sm product-icon", :href => "#{top_feature.webpage_url}", :target => "_blank"}
            = partial "includes/icons/product-icons/webpage.svg"
            ウェブページ
%hr/

/ primary features
%section#primary-features
  - datafile.features.primary.each_with_index do |primary_feature, i|
    - feature_name_href = primary_feature.name_en.downcase.tr(" ", "-").squeeze('-').gsub(/[^a-z0-9-]/, '')
    - if i.even?
      .release-row
        .column
          %h2{:id => "#{feature_name_href}"}
            %a.header-link{href: "##{feature_name_href}"}
              %i.fas.fa-link
            = primary_feature.name
          = partial "includes/features/badges", locals: { tier_hash: available_in_array_to_tier_hash(primary_feature.available_in), gitlab_com: primary_feature.gitlab_com, is_dark: true }
          = kramdown(primary_feature.description)
          .row.reference-buttons
            .col-md-12.col-sm-12
              - if primary_feature.documentation_link != nil
                %a{ class: "btn btn-default btn-sm product-icon", :href => "#{primary_feature.documentation_link}", :target => "_blank"}
                  = partial "includes/icons/product-icons/docs.svg"
                  ドキュメント
              - if primary_feature.issue_url != nil
                %a{ class: "btn btn-default btn-sm product-icon", :href => "#{primary_feature.issue_url}", :target => "_blank"}
                  = partial "includes/icons/product-icons/issues.svg"
                  課題
              - if primary_feature.issueboard_url != nil
                %a{ class: "btn btn-default btn-sm product-icon", :href => "#{primary_feature.issueboard_url}", :target => "_blank"}
                  = partial "includes/icons/product-icons/issue-boards.svg"
                  課題ボード
              - if primary_feature.epic_url != nil
                %a{ class: "btn btn-default btn-sm product-icon", :href => "#{primary_feature.epic_url}", :target => "_blank"}
                  = partial "includes/icons/product-icons/epics.svg"
                  エピック
              - if primary_feature.mr_url != nil
                %a{ class: "btn btn-default btn-sm product-icon", :href => "#{primary_feature.mr_url}", :target => "_blank"}
                  = partial "includes/icons/product-icons/merge-requests.svg"
                  マージリクエスト
              - if primary_feature.webpage_url != nil
                %a{ class: "btn btn-default btn-sm product-icon", :href => "#{primary_feature.webpage_url}", :target => "_blank"}
                  = partial "includes/icons/product-icons/webpage.svg"
                  ウェブページ

        .column
          - if primary_feature.video
            %figure.video_container
              %iframe{:src => "#{primary_feature.video}", :frameborder => "0", :allowfullscreen => "true"}
          - else
            - if primary_feature.image_noshadow == true
              %img{:src => "#{primary_feature.image_url}", :alt => "#{primary_feature.name}"}/
            - else
              %img{class: "shadow", :src => "#{primary_feature.image_url}", :alt => "#{primary_feature.name}"}/
    - else
      %hr/
      .release-row.image-left
        .column.text-column
          %h2{:id => "#{feature_name_href}"}
            %a.header-link{href: "##{feature_name_href}"}
              %i.fas.fa-link
            = primary_feature.name
          = partial "includes/features/badges", locals: { tier_hash: available_in_array_to_tier_hash(primary_feature.available_in), gitlab_com: primary_feature.gitlab_com, is_dark: true }
          = kramdown(primary_feature.description)
          .row.reference-buttons
            .col-md-12.col-sm-12
              - if primary_feature.documentation_link != nil
                %a{ class: "btn btn-default btn-sm product-icon", :href => "#{primary_feature.documentation_link}", :target => "_blank"}
                  = partial "includes/icons/product-icons/docs.svg"
                  ドキュメント
              - if primary_feature.issue_url != nil
                %a{ class: "btn btn-default btn-sm product-icon", :href => "#{primary_feature.issue_url}", :target => "_blank"}
                  = partial "includes/icons/product-icons/issues.svg"
                  課題
              - if primary_feature.issueboard_url != nil
                %a{ class: "btn btn-default btn-sm product-icon", :href => "#{primary_feature.issueboard_url}", :target => "_blank"}
                  = partial "includes/icons/product-icons/issue-boards.svg"
                  課題ボード
              - if primary_feature.epic_url != nil
                %a{ class: "btn btn-default btn-sm product-icon", :href => "#{primary_feature.epic_url}", :target => "_blank"}
                  = partial "includes/icons/product-icons/epics.svg"
                  エピック
              - if primary_feature.mr_url != nil
                %a{ class: "btn btn-default btn-sm product-icon", :href => "#{primary_feature.mr_url}", :target => "_blank"}
                  = partial "includes/icons/product-icons/merge-requests.svg"
                  マージリクエスト
              - if primary_feature.webpage_url != nil
                %a{ class: "btn btn-default btn-sm product-icon", :href => "#{primary_feature.webpage_url}", :target => "_blank"}
                  = partial "includes/icons/product-icons/webpage.svg"
                  ウェブページ
        .column.image-column
          - if primary_feature.video
            %figure.video_container
              %iframe{:src => "#{primary_feature.video}", :frameborder => "0", :allowfullscreen => "true"}
          - else
            - if primary_feature.image_noshadow == true
              %img{:src => "#{primary_feature.image_url}", :alt => "#{primary_feature.name}"}/
            - else
              %img{class: "shadow", :src => "#{primary_feature.image_url}", :alt => "#{primary_feature.name}"}/
      %hr/

/ secondary features
%section#secodary-features
  .release-post-section.text-center.zero-bottom-margin
    %h2{:id => "other-improvements-in-gitlab", :class => "features-released"}
      %a.header-link{href: "#other-improvements-in-gitlab"}
        %i.fas.fa-link
      = "GitLab #{current_article.data.release_number}でのその他改善点"
  .release-row.align-top.divider
    .column
      - datafile.features.secondary.each_with_index do |secondary_feature, i|
        - feature_name_href = secondary_feature.name_en.downcase.tr(" ", "-").squeeze('-').gsub(/[^a-z0-9-]/, '')
        %div{ class: ("hidden-lg" unless i.even?) }
          %h3{:id => "#{feature_name_href}"}
            %a.header-link{href: "##{feature_name_href}"}
              %i.fas.fa-link
            = secondary_feature.name
          = partial "includes/features/badges", locals: { tier_hash: available_in_array_to_tier_hash(secondary_feature.available_in), gitlab_com: secondary_feature.gitlab_com, is_dark: true }
          = kramdown(secondary_feature.description)
          - if secondary_feature.video
            %figure.video_container
              %iframe{:src => "#{secondary_feature.video}", :frameborder => "0", :allowfullscreen => "true"}
          - else
            - if secondary_feature.image_url != nil
              - if secondary_feature.image_noshadow == true
                %img{:src => "#{secondary_feature.image_url}", :alt => "#{secondary_feature.name}"}/
              - else
                %img{class: "shadow", :src => "#{secondary_feature.image_url}", :alt => "#{secondary_feature.name}"}/
          .row.reference-buttons.ref-buttons-second-features
            .col-md-12.col-sm-12
              - if secondary_feature.documentation_link != nil
                %a{ class: "btn btn-default btn-xs product-icon-xm", :href => "#{secondary_feature.documentation_link}", :target => "_blank"}
                  = partial "includes/icons/product-icons/docs.svg"
                  ドキュメント
              - if secondary_feature.issue_url != nil
                %a{ class: "btn btn-default btn-xs product-icon-xm", :href => "#{secondary_feature.issue_url}", :target => "_blank"}
                  = partial "includes/icons/product-icons/issues.svg"
                  課題
              - if secondary_feature.issueboard_url != nil
                %a{ class: "btn btn-default btn-xs product-icon-xm", :href => "#{secondary_feature.issueboard_url}", :target => "_blank"}
                  = partial "includes/icons/product-icons/issue-boards.svg"
                  課題ボード
              - if secondary_feature.epic_url != nil
                %a{ class: "btn btn-default btn-xs product-icon-xm", :href => "#{secondary_feature.epic_url}", :target => "_blank"}
                  = partial "includes/icons/product-icons/epics.svg"
                  エピック
              - if secondary_feature.mr_url != nil
                %a{ class: "btn btn-default btn-xs product-icon-xm", :href => "#{secondary_feature.mr_url}", :target => "_blank"}
                  = partial "includes/icons/product-icons/merge-requests.svg"
                  マージリクエスト
              - if secondary_feature.webpage_url != nil
                %a{ class: "btn btn-default btn-xs product-icon-xm", :href => "#{secondary_feature.webpage_url}", :target => "_blank"}
                  = partial "includes/icons/product-icons/webpage.svg"
                  ウェブページ
              - if secondary_feature.performance_url != nil
                %a{ class: "btn btn-default btn-xs product-icon-xm", :"data-toggle" => "tooltip", :"data-placement" => "auto", :title => "See all the performance improvements in GitLab #{current_article.data.release_number}", :href => "#{secondary_feature.performance_url}", :target => "_blank"}
                  = partial "includes/icons/product-icons/rocket.svg"
                  パフォーマンス改善

    .column
      - datafile.features.secondary.each_with_index do |secondary_feature, i|
        - feature_name_href = secondary_feature.name_en.downcase.tr(" ", "-").squeeze('-').gsub(/[^a-z0-9-]/, '')
        - if i.odd?
          .visible-lg
            %h3{:id => "#{feature_name_href}"}
              %a.header-link{href: "##{feature_name_href}"}
                %i.fas.fa-link
              = secondary_feature.name
            = partial "includes/features/badges", locals: { tier_hash: available_in_array_to_tier_hash(secondary_feature.available_in), gitlab_com: secondary_feature.gitlab_com, is_dark: true }
            = kramdown(secondary_feature.description)
            - if secondary_feature.video
              %figure.video_container
                %iframe{:src => "#{secondary_feature.video}", :frameborder => "0", :allowfullscreen => "true"}
            - else
              - if secondary_feature.image_url != nil
                - if secondary_feature.image_noshadow == true
                  %img{:src => "#{secondary_feature.image_url}", :alt => "#{secondary_feature.name}"}/
                - else
                  %img{class: "shadow", :src => "#{secondary_feature.image_url}", :alt => "#{secondary_feature.name}"}/
            .row.reference-buttons.ref-buttons-second-features
              .col-md-12.col-sm-12
                - if secondary_feature.documentation_link != nil
                  %a{ class: "btn btn-default btn-xs product-icon-xm", :href => "#{secondary_feature.documentation_link}", :target => "_blank"}
                    = partial "includes/icons/product-icons/docs.svg"
                    ドキュメント
                - if secondary_feature.issue_url != nil
                  %a{ class: "btn btn-default btn-xs product-icon-xm", :href => "#{secondary_feature.issue_url}", :target => "_blank"}
                    = partial "includes/icons/product-icons/issues.svg"
                    課題
                - if secondary_feature.issueboard_url != nil
                  %a{ class: "btn btn-default btn-xs product-icon-xm", :href => "#{secondary_feature.issueboard_url}", :target => "_blank"}
                    = partial "includes/icons/product-icons/issue-boards.svg"
                    課題ボード
                - if secondary_feature.epic_url != nil
                  %a{ class: "btn btn-default btn-xs product-icon-xm", :href => "#{secondary_feature.epic_url}", :target => "_blank"}
                    = partial "includes/icons/product-icons/epics.svg"
                    エピック
                - if secondary_feature.mr_url != nil
                  %a{ class: "btn btn-default btn-xs product-icon-xm", :href => "#{secondary_feature.mr_url}", :target => "_blank"}
                    = partial "includes/icons/product-icons/merge-requests.svg"
                    マージリクエスト
                - if secondary_feature.webpage_url != nil
                  %a{ class: "btn btn-default btn-xs product-icon-xm", :href => "#{secondary_feature.webpage_url}", :target => "_blank"}
                    = partial "includes/icons/product-icons/webpage.svg"
                    ウェブページ
                - if secondary_feature.performance_url != nil
                  %a{ class: "btn btn-default btn-xs product-icon-xm", :"data-toggle" => "tooltip", :"data-placement" => "auto", :title => "See all the performance improvements in GitLab #{current_article.data.release_number}", :href => "#{secondary_feature.performance_url}", :target => "_blank"}
                    = partial "includes/icons/product-icons/rocket.svg"
                    パフォーマンス改善

/ complementary information
- if datafile.extras != nil
  %section.release-post-section
    %h2.text-center{:id => "#{datafile.extras.header.downcase.tr(" ", "-")}"}
      %a.header-link{href: "##{datafile.extras.header.downcase.tr(" ", "-")}"}
        %i.fas.fa-link
      = datafile.extras.header
      - datafile.extras.blocks.each do |extra_block|
        %h3{:id => "#{extra_block.title.downcase.tr(" ", "-")}"}
          %a.header-link{href: "##{extra_block.title.downcase.tr(" ", "-")}"}
            %i.fas.fa-link
          = extra_block.title
        = kramdown(extra_block.description)

/ deprecations
- if datafile.deprecations != nil
  %section#deprecations.release-post-section
    %h2.text-center{:id => "release-deprecations"}
      %a.header-link{href: "#release-deprecations"}
        %i.fas.fa-link
      非推奨
    - datafile.deprecations.each do |deprecation|
      %h3{:id => "#{deprecation.feature_name_en.downcase.tr(" ", "-")}"}
        %a.header-link{href: "##{deprecation.feature_name_en.downcase.tr(" ", "-")}"}
          %i.fas.fa-link
        = deprecation.feature_name
      = kramdown(deprecation.description)
      %p
        - deprecation_type = deprecation.type.presence&.capitalize || '削除'
        #{deprecation_type}日:
        %strong= "#{deprecation.due}"

/ Updgrade barometer
%section#upgrade-barometer.release-post-section
  - datafile.barometer do |barometer|
    %h2.text-center{:id => "barometer"}
      %a.header-link{href: "#barometer"}
        %i.fas.fa-link
      アップグレードの指標
    = kramdown(barometer.description)
