---
trial_bar: true
title: 監視
extra_css:
  - features-v2.css
  - release-posts.css
---

= partial "includes/solutions/solution-page", locals: { solution: data.solutions.solutions.monitor, solution_name: "monitor" }
