---
layout: comparison_page
trial_bar: true
suppress_header: true
title: "Bitbucket.org vs. GitLab.com | GitLabと他のツールとの比較"
image_title: '/images/comparison/title_image.png'
extra_css:
  - compared.css
  - release-posts.css
extra_js:
  - comparison.js
  - bootstrap-tooltip.js
---

- competitors = data.features.competitors
= partial "includes/comparison_table", locals: { comparison_block: data.features.comparisons.gitlab_com_vs_bitbucket_org, product_one: competitors.gitlab_com, product_two: competitors.bitbucket_org, key_one: :gitlab_com, key_two: :bitbucket_org }
