---
layout: comparison_page
trial_bar: true
title: "GitLabと他のツールとの比較"
description: "このページでは、GitLabとその他のツールの機能比較をしています。ツールを選択する際の手助けとなるように、それぞれのツールの長所と短所を記載しています。"
image_title: '/images/comparison/title_image.png'
extra_css:
  - compared.css
  - release-posts.css
extra_js:
  - comparison.js
  - bootstrap-tooltip.js
---

- competitors = data.features.competitors
= partial "includes/comparison_table", locals: { comparison_block: data.features.comparisons.gitlab_com_vs_github_com, product_one: competitors.gitlab_com, product_two: competitors.github_com, key_one: :gitlab_com, key_two: :github_com }
