---
title: リンク集
description: GitLabに関する日本語情報のリンク集です。
extra_css:
  - links.css
extra_js:
  - links.js
---
.simple-header
  %h1
    リンク集
.link-group.u-subtle-bg
  .container
    - data.links.each_slice(2).to_a.each do |group|
      .row.flex-row
        - group.each do |link|
          .col-sm-12.col-md-6.col-lg-6
            %a.link.tile{href: link.url, target: '_blank'}
              .link-body
                %h2.link-title= link.title
                %p.link-description= link.description
