---
trial_bar: true
title: 機能一覧
description: "GitLabはDevOpsライフサイクル全体をカバーする統合開発ツールチェインです。GitLabはリポジトリをホスティングする以外に、プロジェクト管理・コードの品質改善・テストやデプロイの自動化・サーバーの設定や監視などに役立つ機能も備えています。GitLabの豊富な機能を活用することで、ソフトウェア開発の生産性と品質を大幅に改善することができます。"
extra_css:
  - features-v2.css
  - release-posts.css
extra_js:
  - features.js
  - bootstrap-tooltip.js
---
.page-container.landing-container.text-center{ :style => "padding-bottom: 35px;" }
  %div
    %h1.page-headline
      顧客に素早く価値を提供
    %h2.page-subtitle
      DevOpsライフサイクルをサポート

.page-container.table-of-contents.text-center{ :style => "padding-bottom: 35px;" }
  .container{ style: "max-width: 900px;" }
    %h3
      DevOpsライフサイクルのフェーズ
    %ul
      - data.solutions.solutions.take(8).each do |key, solution|
        = link_to solution.display_name, "##{key}"
        &nbsp;&nbsp;
    %hr
    %h3
      GitLabの品質・性能
    %ul
      - data.solutions.solutions.drop(8).each do |key, solution|
        = link_to solution.display_name, "##{key}"
        &nbsp;&nbsp;

- data.solutions.solutions.each do |key, solution|
  .page-container.feature-gallery.text-center.animated{ id: key }
    .container.titles
      %h1
        = solution.display_name
      %h4
        = solution.description
      .features-description.features-description-separation
        - data.features.features.each do |feature|
          - if (feature.screenshot_url != nil && feature.solution == "#{key}")
            = partial "includes/features/feature-item-with-image", locals: { feature: feature }
        - data.features.features.each do |feature|
          - if (feature.screenshot_url == nil && feature.solution == "#{key}")
            = partial "includes/features/feature-item", locals: { feature: feature }
