%ul.nav.navbar-nav.animated
  %li{class: ("active" if current_page.url == "/product/")}
    %a{href: "/product"}
      製品
  %li{class: ("active" if current_page.url == "/pricing/")}
    %a{href: "/pricing"}
      価格
  %li{class: ("active" if current_page.url == "/installation/")}
    %a{href: "/installation"}
      インストール
  %li{class: ("active" if current_page.url == "/links/")}
    %a{href: "/links"}
      リンク
  %li{class: ("active" if current_page.url == "/blog/")}
    %a{href: "/blog"}
      ブログ
