---
title: ブログ
comments: false
description: "GitLabに関する最新情報をお届けします。"
extra_js:
  - blog-home.js
---

- articles = blog.articles
.blog.list

  - unless articles.empty?
    .wrapper
      .section
        %h3 最近の投稿

  = partial "includes/blog/list", locals: {articles: articles[0...2]}
  = partial "includes/blog/list", locals: {articles: articles[2...4]}
  = partial "includes/blog/list", locals: {articles: articles[4...6]}
  = partial "includes/blog/list", locals: {articles: articles[6...8]}
  = partial "includes/blog/list", locals: {articles: articles[8...10]}
  = partial "includes/blog/list", locals: {articles: articles[10...12]}

  .wrapper
    .section
      %a.browse{href: "/blog/archives.html"} アーカイブを表示
