---
title: GitLab日本語情報サイト
description: GitLabに関する情報を日本語で発信しています。GitLabはDevOpsのための統合開発ツールチェインで、1つのアプリケーションでDevOpsライフサイクル全体をカバーします。
extra_css:
  - home.css
  - gitlab-com.css
  - pricing.css
extra_js:
  - tabs.js
---

%section.u-padding-bottom-sm.u-subtle-bg
  .container
    .row
      .col-xs-12
        %h2.main-heading.u-margin-bottom-md GitLab日本語情報サイト
    .row
      .col-xs-12
        %p GitLabは先進的なソフトウェア開発に必要な多くの機能を統合した製品です。課題管理、バージョン管理、コードレビュー、CI、CD、モニタリングを1つのアプリケーションで行うことができ、インストールも簡単にできます。GitLabを活用すると、ソフトウェア開発の計画からモニタリングまでを効率的に行うことができます。
        .text-center
          %a.btn.cta-btn.purple{ href: '/features' } すべての機能を表示

%section.u-padding-bottom-sm.u-subtle-bg
  .container
    .row
      .col-xs-12
        %h2.main-heading.u-margin-bottom-md.text-center GitLabの日本語化
    .row
      .col-xs-12
        %p GitLabは9.2から国際化対応が進められています。これにより、ユーザー設定を変更することで、UIを日本語で表示することができます。表示言語を日本語に変更するには、画面右上のユーザーアイコンの「Settings」をクリックし、ユーザー設定画面の「Preferred language」で「日本語」を選択して「Update profile settings」をクリックしてください。
        %p なお、GitLabの翻訳はコミュニティベースで進められているので、誰でもGitLabの翻訳に貢献することができます。
        .text-center
          %a.btn.cta-btn.purple{ href: 'https://gitlab.com/gitlab-jp/translation', target: '_blank' } 翻訳に貢献

.container
  = partial "includes/home/sdlc"

%section.u-padding-bottom-sm.u-subtle-bg
  .container
    .row
      .col-xs-12
        %h2.main-heading.u-margin-bottom-md.text-center 本サイトの運営について
    .row
      .col-xs-12
        %p
          本サイトは、GitLabを日本で広めるために個人で開設したコニュニティサイトです。

        %p
          その際、GitLab B.V.のCEOのSytse Sijbrandij氏にメールを送り、
          %a{ href: "https://about.gitlab.com", target: "_blank" } 公式サイト
          の
          %a{ href: "https://gitlab.com/gitlab-com/www-gitlab-com", target: "_blank" } ソース
          を翻訳して www.gitlab.jp として公開しても良いか確認をしました。
          そのメールへの返信で「That would be awesome! Please go ahead.」と快諾していただくことができました。
        %p
          現在、本サイトの管理者はGitLabの
          %a{ href: "https://www.creationline.com/gitlab", target: "_blank"  } 国内代理店
          に所属し、
          %a{ href: "https://gitlab-jp.connpass.com/", target: "_blank" } 国内ユーザーグループ
          の管理者の一人を務めています。
